#home {
  width: 70%;
  padding: 50px;
  margin: 75px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#welcome {
  font-size: 30px;
}
#home p {
  padding: 10px 0 0 0;
  margin: 10px 0 20px 0;
}
#techstack {
  width: 70%;
  padding-left: 20px;
}
.headingsss {
  text-align: left;
  font-size: 20px;
  color: #c53211;
  margin: 20px 0;
}
#homeEmail {
  color: blue;
}
